.tasks_page {
    display: grid;
    row-gap: 20px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    padding: 40px 35px;
    border-radius: 14px;
    max-width: 900px;
    min-width: 400px;
}

.task_list {
    border: #ececec 1px solid;
    border-radius: 12px;
}