@font-face {
    font-family: 'Roboto Bold', sans-serif;
    src: url('../../../assets/font/Roboto-Bold.ttf');
}
.header {
    width: 100%;
    height: 50px;
}

.header_fixed {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: stretch;
    z-index: 1;
}

.header_fixed_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 20px;
    width: 1280px;
    padding: 0px 20px;
    z-index: 2;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav_item a {
    color: rgb(45, 45, 45);
    font-size: 14px;
}
.active-link {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 600;
}
.btns {
    display: flex;
    align-items: center;
    column-gap: 20px;
}