<form class="edit_form" (ngSubmit)="submit()">
    <legend>Выберите статус задачи:</legend>
    <div class="input_block">

        <div class="input_control">
            <input type="radio" [(ngModel)]="status" name="options" id="important" value="important">
            <label for="important">Важная</label>
        </div>

        <div class="input_control">
            <input type="radio" [(ngModel)]="status" name="options" id="regular" value="regular">
            <label for="regular">Обычная</label>
        </div>

        <div class="input_control">
            <input type="radio" [(ngModel)]="status" name="options" id="done" value="done">
            <label for="done">Выполненная</label>
        </div>
    </div>
    <div>
        <button class="grey_btn" type="submit">Сохранить</button>
    </div>
</form>