<form (ngSubmit)="submit()">
    <legend>Выберите статус задачи:</legend>
    <div>
        <input type="radio" [(ngModel)]="status" name="options" id="important" value="important">
        <label for="important">Важная</label>

        <input type="radio" [(ngModel)]="status" name="options" id="regular" value="regular">
        <label for="regular">Обычная</label>

        <input type="radio" [(ngModel)]="status" name="options" id="done" value="done">
        <label for="done">Выполненная</label>
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>