<div class="add_section">
    <button class="white_btn btn" (click)="edit = !edit">
        {{edit ? 'Скрыть' : 'Добавить задачу'}}
    </button>

    <form class="task_form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="edit">
        <input class="task_input" formControlName="name" type="text" placeholder="Введите название задачи..." />
        <select formControlName="status">
            <option value="important">Важная</option>
            <option value="regular">Обычная</option>
            <option value="done">Выполненная</option>
        </select>
        <button class="grey_btn btn" type="submit">Добавить</button>
    </form>
    <div class="error" *ngIf="name.errors?.['required'] && name.touched && edit">Пожалуйста, введите название задачи
    </div>
</div>