<article class="about_page">
    <h2>О проекте</h2>
    <p>Приложение для планирования и создания списков дел и задач.</p>

    <h4>Запуск проекта:</h4>
    <ul>
        <li>Для запуска JSON Server необходимо выполнить команду: json-server -w db.json</li>
        <li>Для запуска frontend необходимо выполнить команду: npm run start</li>
    </ul>

    <h4>Характеристики проекта:</h4>
    <ul>
        <li>Angular 17</li>
        <li>OnPush-стратегия</li>
        <li>Авторизация</li>
        <li>Библиотеки: Angular HttpClient, Angular Router, Angular Forms</li>
        <li>Гуард</li>
        <li>Интерсептор</li>
    </ul>

    <h4>Функционал списка задач:</h4>
    <ul>
        <li>Отображение списка задач и их статуса выполнения</li>
        <li>Добавление задач</li>
        <li>Фильтрация и поиск задач по названию и статусу</li>
        <li>Изменение статуса задачи</li>
        <li>Удаление задачи</li>
    </ul>
</article>